{% extends 'base.html.twig' %}

{% block title %}Mon compte - eMove{% endblock %}

{% block content %}
<h1>Mon compte</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <small> <a href="/admin"> Accéder à l'administration </a></small><br/>
    {% endif %}
    {% if app.user %}
        Bienvenue <b>{{ app.user.firstname}}</b> dans votre compte. <br/>
    C'est dans cet espace que vous allez pouvoir gérer toutes vos informations personneles.

        <hr>

        <div class="row">

            <div class="col-md-4 text-center" >
                <div class="account-item"><a href="{{ path('account_password') }}">Modifier mon mot de passe </a></div>
            </div>
            <div class="col-md-4 text-center">
                <div class="account-item"><a href="{{ path('account_address') }}">Gérer mes addresses</a></div>
            </div>
            <div class="col-md-4 text-center">
                <div class="account-item"><a href="{{ path('order_history') }}">Mes commandes</a></div>
            </div>

        </div>
    <hr>
        <style>.account-item{
                background-color: #00172D;
                padding: 40px;
            }

            .account-item a {
                text-transform: uppercase;
                font-size: 13px;
                font-weight: bold;
                color: white;
            }

            .account-item a:hover{
                color: #778ca3;
                text-decoration: none;
            }



        </style>
    {% endif %}
{% endblock %}
