{% extends 'base.html.twig' %}

{% block carousel %}
{% endblock %}

{% block content %}
 <!-- Three columns of text below the carousel -->

    <h3>Top locations</h3>
    <p>Découvrez les meilleurs locations du moment</p>
        <div class="row">
            {% for product in products %}
                <div class="col-md-3">
                    {% include 'product/single_product.html.twig' %}
                </div>
            {% endfor %}
        </div>
    <br/> <br/> <br/>
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Optez pour <span class="text-muted">l'electronique</span></h2>
            <p class="lead">Depuis le début de l'année 2021, une majoration de 20% a été mise en place pour les véhicules électriques.
            </p>
        </div>
        <div class="col-md-5">
            <img src="{{ asset('assets/img/electric.jpeg')}}" class="img-fluid">
        </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Perdez moins de temps <span class="text-muted">Charger plus vite</span></h2>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="{{ asset('assets/img/electric2.jpeg')}}" class="img-fluid">
        </div>
    </div>

        <!-- /END THE FEATURETTES -->
{% endblock %}