{% extends 'base.html.twig' %}

{% block title %}Mon panier - eMove{% endblock %}

{% block content %}
    {% if cart.annotations.success is defined %}
        <div class="alert alert-success">
            {{ cart.annotations.success }}
        </div>
    {% elseif cart.annotations.error is defined %}
        <div class="alert alert-danger">
            {{ cart.annotations.error }}
        </div>
    {% endif %}
    <h1>Mon panier</h1>
    Retrouvez l'ensemble des véhicules que vous avez ajouté à votre panier. <br/>
    <i>Le prix d'une location vaut le nombre de kilomètres x le nombre de jours</i>
    <hr>

    {% if cart.products is defined %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Véhicule</th>
                <th scope="col"></th>
                <th scope="col">Nombre de Kilomètres (en km)</th>
                <th scope="col">Durée (en jours)</th>
                <th scope="col">Prix (en €)</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% set totalKm = null %}
            {% set totalDuree = null %}
            {% set totalPrice = null %}

            {% for product in cart.products %}
            <tr>
                <th>
                    <img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.marque }}" height="75px">
                </th>
                <td>
                    {{ product.product.marque }}
                    <small>{{ product.product.marque }}</small>
                </td>
                <td>
                    <a href="{{ path('cart_decrease', {'id' : product.product.id, 'item' : 'nb_km'}) }}">
                        <img src="{{ asset('assets/img/minus.png') }}" height="12px" alt="Supprimer des kilomètres">
                    </a>
                    {{ product.nb_km }}
                    <a href="{{ path('cart_increase', {'id' : product.product.id, 'item' : 'nb_km'}) }}">
                        <img src="{{ asset('assets/img/add.png') }}" height="12px" alt="Ajouter des kilomètres">
                    </a>
                </td>
                <td>
                    <a href="{{ path('cart_decrease', {'id' : product.product.id, 'item' : 'duree'}) }}">
                        <img src="{{ asset('assets/img/minus.png') }}" height="12px" alt="Supprimer des jours">
                    </a>
                    {{ product.duree }}
                    <a href="{{ path('cart_increase', {'id' : product.product.id, 'item' : 'duree'}) }}">
                        <img src="{{ asset('assets/img/add.png') }}" height="12px" alt="Ajouter des jours">
                    </a>
                </td>

                <td>{{ product.price }}</td>
                <td>
                    <a href="{{ path('delete_to_cart', { 'id' : product.product.id}) }}">
                        <img src="{{ asset('assets/img/delete.png') }}" height="18px" alt="Supprimer mon produit">
                     </a>
                </td>
            </tr>

            {% set totalKm = totalKm + product.nb_km %}
            {% set totalDuree = totalDuree + product.duree %}
            {% set totalPrice = totalPrice + product.price %}

            {% endfor %}
        </tbody>
    </table>
    <div class="text-right mb-5">
        <b>Nombre de véhicules :</b> {{ cart|length }} <br/>
        <b>Total de kilomètres :</b> {{ totalKm }} <br/>
        <b>Total de jours :</b> {{ totalDuree }}
        <b>Prix :</b> {{ totalPrice|number_format(2, ',', '.') }} €
        <a href="{{ path('order') }}" class="btn btn-info btn-block " >Valider mon panier</a>
        <a href="{{ path('remove_my_cart') }}" class="btn btn-danger btn-block">Supprimer mon panier</a>


        <style>

        </style>
    </div>
    {% else %}
        <p><b>Votre panier est vide</b></p>
    {% endif %}
{% endblock %}
