{% extends 'base.html.twig' %}

{% block title %}Contacter eMove{% endblock %}

{% block content %}

<h2>Nous contacter</h2>

    {% if app.user %}
        <div class="mb-3">
            N'hésitez pas à nous contacter  <b>{{ app.user.firstname}}</b> <br />

        </div>
        {% for message in app.flashes('notice') %}
        <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div class="row">
    <div class="col-md-8">{{ form(form) }}</div>
    <div class="col-md-4">
        <strong>eMove</strong>
        <hr>
        01 46 44 89 77 <br />
        8 rue des gobelins, 75005 Paris <br />
        emove@contact.fr <br />
    </div>

    </div>

{% endblock %}
