body {
    position: relative;
}

.navbar-item-custom, .navbar-item-custom a {
    color: white;
}

.footer-custom {
    text-align: center;
    position: absolute;
    width: 100%;
    background-color: #dfeaff;
    padding-top: 25px;
    margin-top: 50px;
}

.product-item h5 {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1px;
}

.product-item {
    margin-top: 50px;
}


.product-item .product-modele {
    font-size: 14px;
    display: block;
}

.product-item .product-nbkm {
    font-size: 15px;
    font-weight: bold;
}

.product-container {
    margin-bottom: 150px;
}
.cart_icon {
    height: 20px;
    padding-left: 20px ;
}

.block-small {
    max-width: 600px;
    margin: 0 auto;
}

.form-check {
    background-color: #f4f8ff;
    padding: 20px 65px;
    margin-top: 7px;
}

.col-form-label {
    font-weight: bold;
}

.order-summary {
    background-color: #f4f8ff;
    padding: 20px;
    margin-top: 22px;
}

.account-item{
    background-color: #5bc0de;
    padding-left: 60px;
}