{% extends 'base.html.twig' %}

{% block title %}{{ product.marque }} - eMove{% endblock %}

{% block content %}
    <h1>{{ product.marque }} {{ product.modele }}</h1>

    <div class="row">
        <div class="col-md-5">
            <img src="/uploads/{{  product.illustration }}" alt="{{ product.marque  }}" class="img-fluid">
        </div>
        <div class="col-md-7 my-auto">
            <h3>{{ product.modele }}</h3>
            <p>{{ product.marque  }}</p>
            <hr>
            <p>
                {{ product.NombreKm|number_format(2,',', '.') }} km
            </p>
            <p>
                {{ product.getDateAchat()|date('d/m/Y')}}
            </p>
            <hr>
            <h4>Entrez les informations nécessaire pour louer ce véhicule</h4> <br>

            {{ form(form) }}

         <!--  <a href="{{ path('add_to_cart', {'id' : product.id}) }}" class="btn btn-primary">Louez ce véhicule</a> -->
        </div>
    </div>
    <hr>
    <h3>Location du moment</h3>
    <p>Découvrez les locations en top achat</p>
    <div class="row">
        {% for product in products %}
            <div class="col-md-3">
                {% include 'product/single_product.html.twig' %}
            </div>
        {% endfor %}
    </div>

{% endblock %}
