<div class="product-item text-center">
    <a href="{{ path('product', { 'slug': product.slug} ) }}"> <img src="/uploads/{{ product.illustration }}" alt="{{ product.marque }}" class="img-fluid"></a>
    <h5>{{ product.marque }}</h5>
    <span class="product-modele">{{ product.modele }}</span>
    <span class="product-nbkm">{{ product.NombreKm|number_format(2,',', '.') }} km</span>
</div>