{% extends 'base.html.twig' %}

{% block title %}Récapitulatif de ma commande - eMove{% endblock %}

{% block content %}
    <h2>Mon récapitulatif</h2>
    <p>Vérifier vos informations avant de valider votre commande.</p>
    <hr>
    <div class="row">
        <div class="col-md-5">
            <strong>Mon adresse de livraison</strong> <br/>
            <div class="form-check mt-4">
                {{ delivery|raw }}
            </div>

            <hr>

            <div class="form-check">
                <strong>Mon transporteur</strong> <br/>
                {{ carrier.name }} <br/>
                {{ carrier.description }} <br/>
                {{ carrier.price|number_format(2, ',', '.') }} €
            </div>
        </div>
        <div class="col-md-5">
            <div class="text-center">
                <b>Ma commande</b><br/>
            </div>
            <div class="order-summary">
                {% set totalKm = null %}
                {% set totalDuree = null %}
                {% set totalPrice = null %}

                {% for product in cart.products %}
                    <div class="row mt-2">
                        <div class="col">
                            <img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.marque }}" height="75px">
                        </div>
                        <div class="col my-auto">
                            {{ product.product.marque }}
                            <small>{{ product.product.marque }}</small>
                        </div>
                        <div class="col my-auto">
                            {{ product.nb_km }} km | {{ product.duree }} jours
                        </div>
                    </div>

                    {% set totalKm = totalKm + product.nb_km %}
                    {% set totalDuree = totalDuree + product.duree %}
                    {% set totalPrice = totalPrice + product.price %}
                {% endfor %}


            </div>

            <hr>

            <strong>Nombre de véhicules : </strong> {{ cart|length }} <br/>
            <strong>Total de jours : </strong> {{ totalDuree }} <br/>
            <strong>Total de kilomètres : </strong> {{ totalKm }} <br/>
            <strong>Sous-Total : </strong> {{ totalPrice|number_format(2, ',', '.')  }} €<br/>
            <strong>Livraison : </strong> {{ carrier.price|number_format(2, ',', '.') }} €
            <br>
            <strong>Total : {{ (totalPrice + carrier.price)|number_format(2, ',', '.')  }}  €</strong>
            <a href="{{ path('order_success') }}" class="btn btn-success btn-block mt-3">Valider la commande | {{ (totalPrice + carrier.price)|number_format(2, ',', '.')  }}  €</a>
        </div>
    </div>
{% endblock %}
