{% block title %}Contrat de location - eMove{% endblock %}

{% block content %}
<h2>Mon contrat</h2>
<p>Voici le contrat de location, les voitures vous seront livré par le voiturier que vous avez choisi. Attention a rendre les véhicules dans les temps sinon il y aura des frais supplémentaires à hauteur de 200€ par heure de retard</p>
<hr>
<div class="row">
  <div class="col-md-5">
    <strong>Mon adresse de livraison</strong> <br/> <br/>
    <div class="form-check mt-4">
      {{ delivery|raw }}
    </div>

    <hr>

    <div class="form-check">
      <strong>Mon transporteur</strong> <br/> <br/>
      {{ carrier.name }} <br/>
      {{ carrier.price|number_format(2, ',', '.') }} €
    </div>
  </div> <br/>
  <div class="col-md-5">
    <div class="text-center">
      <b>Ma commande</b><br/>
    </div>
    <div class="order-summary">
      {% set totalKm = null %}
      {% set totalDuree = null %}
      {% set totalPrice = null %}

      {% for product in products %}
      <div class="row mt-2">
        <br/>
        <div class="col my-auto">
          {{ product.product }} | {{ product.nbKm }} km | {{ product.duree }} jours | {{ product.price }} € | à rendre avant le {{ product.expireAt|date('d/m/Y H:m:s') }}
        </div>

      </div>

      {% set totalKm = totalKm + product.nbKm %}
      {% set totalDuree = totalDuree + product.duree %}
      {% set totalPrice = totalPrice + product.price %}
      {% endfor %}


    </div>

    <hr>

    <strong>Nombre de véhicules : </strong> {{ products|length }} <br/>
    <strong>Total de jours : </strong> {{ totalDuree }} <br/>
    <strong>Total de kilomètres : </strong> {{ totalKm }} <br/>
    <strong>Sous-Total : </strong> {{ totalPrice|number_format(2, ',', '.')  }} €<br/>
    <strong>Livraison : </strong> {{ carrier.price|number_format(2, ',', '.') }} €
    <br>
    <strong>Total : {{ (totalPrice + carrier.price)|number_format(2, ',', '.')  }}  €</strong>
  </div>
</div>
{% endblock %}
