{% extends 'base.html.twig' %}

{% block title %}Valider ma commande - eMove{% endblock %}

{% block content %}
    <h2>Je passe ma commande</h2>
    <p>Choisissez vos préférences avant de passer votre commande sur eMove.</p>
    <hr>
    <div class="row">
        <div class="col-md-4">
            {% set formHtml %}
                {{ form_start(form, {action:path('order_recap')}) }}
                    {{ form_label(form.addresses, 'Choissisez votre adresse de livraison') }}
                    <a href="{{ path('account_address_add') }}">Ajouter une nouvelle adresse</a>
                {{ form_end(form) }}
            {% endset %}

            {{ formHtml|replace({'[br]' : '<br/>'})|raw }}
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <b>Récap de ma commande</b><br/>
                <p>Retrouvez le récapitulatif de vos produits.</p>
            </div>
            <div class="order-summary">
                {% for product in cart.products %}
                    <div class="row mt-2">
                        <div class="col">
                            <img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.marque }}" height="75px">
                        </div>
                        <div class="col my-auto">
                            {{ product.product.marque }}
                            <small>{{ product.product.marque }}</small>
                        </div>
                        <div class="col my-auto">
                            {{ product.nb_km }} km | {{ product.duree }} jours
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
