{% extends 'base.html.twig' %}

{% block title %}Mes locations - eMove{% endblock %}

{% block content %}
    <h1>Historique de mes locations</h1>

    <p>Voici le détails de votre location</p>
    {% if products|length > 0 %}
        <table class="table">
            <thead>
            <tr>
                <th>Illustration</th>
                <th scope="col">Nom du produit</th>
                <th scope="col">Nombre de km</th>
                <th scope="col">Durée en jours</th>
                <th scope="col">Prix (en €)</th>
                <th scope="col">Rendre le véhicule avant le </th>
                <th scope="col">Status du véhicule</th>
                <th scope="col">Date de rendu du véhicule</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% set count = 0 %}

            {% for product in products %}
                <tr>

                    <th>
                        <img src="/uploads/{{ product.illustration }}" alt="{{ product.marque }}" height="75px">
                    </th>
                    <td>
                        {{ product.marque }}
                        <small>{{ product.marque }}</small>
                    </td>
                    <td>

                        {{ orders[count].nbKm }}

                    </td>
                    <td>
                        {{ orders[count].duree }}

                    </td>

                    <td>{{ orders[count].price }}</td>
                    <td>
                        {{ orders[count].expireAt|date('d/m/Y H:m:s') }}
                    </td>
                    <td>
                        {% if product.isAvailable %}
                            Disponible
                        {% else %}
                            En cours de location
                         {% endif %}
                    </td>
                    <td>
                        {% if orders[count].renderOn is null %}
                            Pas encore rendu
                        {% else %}
                            Rendu le {{ orders[count].renderOn|date('d/m/Y H:m:s') }}
                        {% endif %}
                    </td>
                    <td>
                        {% if orders[count].renderOn is null %}
                            <a href="{{ path('order_render_product', {'idProduct' : product.id, 'idOrderDetails' : orders[count].id }) }}" class="btn btn-sm btn-info">Rendre le véhicule ?</a>
                        {% endif %}
                    </td>
                </tr>
                {% set count = count + 1 %}
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
