{% extends 'base.html.twig' %}

{% block title %}Mes commandes - eMove{% endblock %}

{% block content %}
    {% if orders.inProgress|length > 0 %}
        <h3>Récapitulatif de vos locations en cours</h3>
        <table class="table">
                <thead>
                <tr>
                    <th scope="col">Commande passé le</th>
                    <th scope="col">Voiturier / Prix</th>
                    <th scope="col">Adresse de livraison</th>
                    <th scope="col">Prix (en €)</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% set totalKm = null %}
                {% set totalDuree = null %}
                {% set totalPrice = null %}

                {% for order in orders.inProgress %}
                    <tr>
                        <td>{{ order.createdAt|date('d/m/Y') }} à {{ order.createdAt|date('H:m:s') }}</td>
                        <td>{{ order.carrierName }} / <strong>{{ order.carrierPrice|number_format(2, ',', '.') }} €</strong></td>
                        <td>{{ order.delivery|raw }}</td>
                        <td>{{ order.getTotal|number_format(2, ',', '.') }} €</td>
                        <td>
                            <a href="{{ path('order_history_details', {'id': order.id}) }}" class="btn btn-sm btn-success">Rendre un véhicule</a>
                            <a href="{{ path('order_contract_one', {'id' : order.id}) }}" class="btn btn-sm btn-danger">Contrat de location</a>
                        </td>
                    </tr>



                {% endfor %}
                </tbody>
            </table>
    {% else %}
        <h3>Vous n'avez pas de location en cours</h3>
    {% endif %}
    <br/>
    {% if orders.done|length > 0 %}
        <h3>Récapitulatif de vos locations terminé</h3>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Commande passé le</th>
                <th scope="col">Voiturier / Prix</th>
                <th scope="col">Adresse de livraison</th>
                <th scope="col">Prix (en €)</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% set totalKm = null %}
            {% set totalDuree = null %}
            {% set totalPrice = null %}

            {% for order in orders.done %}
                <tr>
                    <td>{{ order.createdAt|date('d/m/Y') }} à {{ order.createdAt|date('H:m:s') }}</td>
                    <td>{{ order.carrierName }} / <strong>{{ order.carrierPrice|number_format(2, ',', '.') }} €</strong></td>
                    <td>{{ order.delivery|raw }}</td>
                    <td>{{ order.getTotal|number_format(2, ',', '.') }} €</td>
                    <td>
                        <a href="{{ path('order_contract_one', {'id' : order.id}) }}" class="btn btn-sm btn-danger">Facture</a>
                    </td>
                </tr>



            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3>Vous n'avez pas de location terminé</h3>
    {% endif %}
{% endblock %}
