{% extends 'base.html.twig' %}

{% block title %}Validation de ma commande - eMove{% endblock %}

{% block content %}
    <h2>Validation de ma commande</h2>
    <p>Votre commande a été validé avec succès. Un contrat de location est disponible, il contient toute les modalités de votre location</p>
    <hr>
    <a href="{{ path('order_contract') }}" class="btn btn-sm btn-info">Télécharger votre contrat de location</a>

{% endblock %}