{% extends 'base.html.twig' %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}

    <h1>Inscription</h1>

        {{  form(form) }}
{% endblock %}
